import(S4Vectors)
import(IRanges)
import(Biostrings)
import(BiocGenerics)
import(BSgenome)
import(GenomicRanges)
import(BiocParallel)
importFrom(parallel, makeCluster, stopCluster, detectCores)
importFrom(CRISPRseek, compare2Sequences)
importFrom(ChIPpeakAnno, annotatePeakInBatch)
importFrom(data.table, fread)
importFrom(matrixStats, rowMins)
importFrom(matrixStats, rowMaxs)
export(GUIDEseqAnalysis, getUniqueCleavageEvents, getPeaks, 
    mergePlusMinusPeaks, offTargetAnalysisOfPeakRegions)
