importFrom("limma", "vennCounts", "vennDiagram")
import(S4Vectors, except=values)
import(IRanges, except=values)
import(Biostrings)
import(BSgenome)
import(GenomicRanges, except=values)
import(BiocGenerics, except=c(var, sd))
import(BiocParallel)
importFrom("stats", "p.adjust", "pnbinom", "ppois", "setNames")
importFrom("utils", "read.table", "write.table")
import(S4Vectors, except=c(fold, values))
importFrom(parallel, makeCluster, stopCluster, detectCores)
importFrom(CRISPRseek, compare2Sequences)
importFrom(ChIPpeakAnno, annotatePeakInBatch)
importFrom(data.table, fread)
importFrom(matrixStats, rowMins)
importFrom(matrixStats, rowMaxs)
importFrom(hash, values, hash)
importFrom(Rsamtools, ScanBamParam, BamFile, bamFlagTest)
importFrom(GenomicAlignments, readGAlignmentsList, first, last)
importFrom(GenomeInfoDb, seqlevels, seqinfo, "seqinfo<-", "seqlevels<-", seqlevelsStyle)
export(GUIDEseqAnalysis, getUniqueCleavageEvents, getPeaks,combineOfftargets,
    mergePlusMinusPeaks, offTargetAnalysisOfPeakRegions, annotateOffTargets,
    createBarcodeFasta, getUsedBarcodes)
